<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit) = 'onAddItem(frm)' #frm ='ngForm'>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type = "text" id="name" class="form-control"
                    ngModel
                    name ="name"
                    required
                    #name='ngModel'
                    />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type = "number" id="amount" class="form-control"
                    ngModel
                    name='amount'
                    required
                    #amount='ngModel'
                    [pattern] = "'^[1-9]+[0-9]*$'"
                    />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 form-group">
                    <p *ngIf = "!frm.getControl(name).valid && frm.getControl(name).touched" style="color: red;">Name is required</p>
                </div>
                <div class="col-sm-2 form-group">
                    <p *ngIf = "!frm.getControl(amount).valid && frm.getControl(amount).touched" style="color: red;">Amount is required</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled] = '!frm.valid'>{{editmode ? 'Edit':'Add'}}</button>
                    <button class="btn btn-danger" (click)= 'onDelete()' type="button" [disabled] = '!editmode'>Delete Item</button>
                    <button class="btn btn-primary" (click) ='onClear()' type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>