<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header nav-tabs-justified">
           
            <a style="cursor: pointer;"  class=" navbar-brand" style="padding-top: 0;">
                <img src="assets/image/logo.png" style="max-height: 60px;" class="img-responsive mce-i-image" alt="">
                
            </a>
        <p class="navbar-text h5"> Dr. Vishvesh Verma's <br/>Homeopathy</p>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a style="cursor: pointer;" routerLink='treatments'>Treatments</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Appointment</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
