<app-carousel></app-carousel>
<div class="container bg-success">
<div class="row">
    <div class="col-xs-4">
        <img [src]='imageUrls[0]' class="img-thumbnail">
    </div>
    <div class="col-xs-4">
        <img [src]='imageUrls[1]' class="img-thumbnail">
    </div>
    <div class="col-xs-4">
        <img [src]='imageUrls[2]' class="img-thumbnail">
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <img [src]='imageUrls[3]' class="img-thumbnail">
    </div>
    <div class="col-xs-4">
        <img [src]='imageUrls[4]' class="img-thumbnail">
    </div>
    <div class="col-xs-4">
        <img [src]='imageUrls[5]' class="img-thumbnail">
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <img [src]='imageUrls[6]' class="img-thumbnail">
    </div>
    <div class="col-xs-4">
        <img [src]='imageUrls[7]' class="img-thumbnail">
    </div>
    <div class="col-xs-4">
        <img [src]='imageUrls[8]' class="img-thumbnail">
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <img [src]='imageUrls[9]' class="img-thumbnail">
    </div>
    <div class="col-xs-4">
        <img [src]='imageUrls[10]' class="img-thumbnail">
    </div>
    <div class="col-xs-4">
        <img [src]='imageUrls[11]' class="img-thumbnail">
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        
    </div>
    <div class="col-xs-4">
        <img [src]='imageUrls[12]' class="img-thumbnail">
    </div>
    <div class="col-xs-4">
       
    </div>
</div>
</div>
