<div class="row">
    <div class="col-xs-12">
        <form [formGroup] ='form' (ngSubmit)= "onSubmit()"> 
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for='recipeName'>Recipe Name</label>
                        <input type="text" id = 'recipeName' class="form-control" formControlName='recipeName'>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for='description'>Description</label>
                        <textarea id = 'description' class="form-control" rows="6" formControlName='description'></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for='image'>Image Url</label>
                        <input type="text" id = 'image' class="form-control" formControlName = 'imageUrl' #imagePath>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" class="img-responsive"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for='addIngredient' >Ingredients</label>
                    <button id='addIngredient' type="button" class="btn btn-default" (click) ='addIngredient()' style="margin-left: 10px;"> + </button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12" formArrayName ='ingredient'>
                            <div class="row" *ngFor = 'let ingredient of getIngredientControl(); let i = index' [formGroupName] ='i' style="margin-top:10px;">
                                <div class="col-xs-8">
                                    <input type="text" id ='ingredientName' class="form-control" formControlName="name">
                                </div>
                                <div class="col-xs-2">
                                    <input type="text" id='amount' class="form-control" formControlName ="amount">
                                </div>
        
                                <div class="col-xs-2">
                                    <button type="button" class="btn btn-danger" (click)='onRemoveIngredient(i)'>X</button>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]='!form.valid'>{{editmode?'Update':'Save'}}</button>
                    <button type="button" class="btn btn-primary" (click)='onClear()'>{{editmode?'Cancel':'Clear'}}</button>
                </div>
            </div>
            
        </form>
    </div>
</div>
